// BODY //
$primary-color: #445aff;
$secondary-color: #fad557;
$text-color: #252525;
// ALERT & VALID //
$alert: #fa3457;
$succes: #78ff81;
// HEADER //
//  MAIN //
$main-bcg: #fafafa;
$content: #f9f9f9;
// FOOTER //
$footer-bcg: #474747;
