:root {
  font-size: 18px;
}
/*//////////////////////////////////// HEADER ////////////////////////////////////////////*/
header {
  .navbar-container-mobile {
    display: none;
  }

  .navbar-container-desktop {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-color;

    .logo-container-desktop {
      .logo {
        width: 60px;
      }
    }

    .links-container {
      display: flex;
      width: max-content;
      gap: 2rem;

      li {
        a {
          color: black;
          text-transform: uppercase;
          font-weight: 900;
        }
      }
    }

    .connections-container {
      display: flex;
      gap: 10px;

      button {
        @include template-btn;
        background-color: white;
        color: black;
      }
    }
  }

  .modal-login-form {
    width: 40%;
  }
}

/*//////////////////////////////////// MAIN //////////////////////////////////////////////*/
main {
  .grid-container {
    column-gap: 40px;
  }
}

/*//////////////////////////////////// FOOTER ////////////////////////////////////////////*/
