:root {
  font-size: 18px;
}
/*//////////////////////////////////// HEADER ////////////////////////////////////////////*/
header {
  .navbar-container-mobile {
    display: none;
  }

  .navbar-container-desktop {
    padding: 1rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-color;

    .links-container {
      display: flex;
      width: max-content;
      gap: 2rem;

      li {
        a {
          color: $text-color;
          text-transform: uppercase;
          font-weight: bold;
        }
      }
    }

    .connections-container {
      display: flex;
      gap: 10px;

      button {
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
}

/*//////////////////////////////////// MAIN //////////////////////////////////////////////*/

/*//////////////////////////////////// FOOTER ////////////////////////////////////////////*/
