/* 1. Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* 3. Add accessible line-height */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
}

/* 4. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 5. Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* 6. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 7. Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

@keyframes alert {
  0% {
    padding: 10px;
  }
  50% {
    padding: 12px;
  }
  100% {
    padding: 10px;
  }
}
/*/////////////////////////////// RESPONSIVE MOBIL 320px ///////////////////////////////////////*/
:root {
  font-size: 16px;
}

/*//////////////////////////////////// FONT-FAMILY ///////////////////////////////////////*/
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins-Light.ttf");
}
/*//////////////////////////////////// BODY //////////////////////////////////////////////*/
body {
  z-index: 1;
  font-family: "Poppins";
}

/*//////////////////////////////////// HEADER ////////////////////////////////////////////*/
header .navbar-container-desktop {
  display: none;
}
header .navbar-container-mobile {
  padding: 1rem;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #445aff;
}
header .navbar-container-mobile .logo-container-mobile {
  position: absolute;
  left: calc(50% - 20px);
}
header .navbar-container-mobile .logo-container-mobile .logo {
  width: 40px;
}
header .navbar-container-mobile .open-burger::before {
  border-radius: 5px;
  border: 1px solid black;
  padding: 2px 5px;
}
header .navbar-container-mobile .close-burger {
  display: none;
}
header .navbar-container-mobile .user-container {
  z-index: 3;
  position: absolute;
  padding: 1rem;
  border-radius: 5px;
  top: 60px;
  right: 0;
  background-color: #fad557;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
header .navbar-container-mobile .user-container button {
  text-transform: uppercase;
  background-color: #445aff;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.5s background-color;
}
header .navbar-container-mobile .user-container button:hover {
  background-color: #474747;
  transition: 0.5s background-color;
}
header .navbar-container-mobile .burger-container {
  z-index: 2;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  display: none;
  background-color: #fad557;
}
header .navbar-container-mobile .burger-container .links-container-burger {
  width: 100%;
  padding-top: 160px;
  display: flex;
  gap: 120px;
  flex-direction: column;
  align-items: center;
}
header .navbar-container-mobile .burger-container .links-container-burger li a {
  color: #252525;
  text-transform: uppercase;
  font-weight: bolder;
}
header .modal-login-form {
  display: none;
  justify-content: center;
  z-index: 3;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 25px;
  padding: 1rem 0;
  background-color: #fad557;
  width: 85%;
  animation: TopToBottom 1.5s ease-in-out;
}
header .modal-login-form .close-modal-login {
  position: absolute;
  top: 20px;
  right: 15px;
}
header .modal-login-form .choose-login-container {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
header .modal-login-form .choose-login-container button {
  text-transform: uppercase;
  background-color: #445aff;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.5s background-color;
}
header .modal-login-form .choose-login-container button:hover {
  background-color: #474747;
  transition: 0.5s background-color;
}
header .modal-login-form .login-user-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
header .modal-login-form .login-user-form .code-login-container {
  position: relative;
  display: flex;
  align-items: center;
}
header .modal-login-form .login-user-form .code-login-container .show-eye-login,
header .modal-login-form .login-user-form .code-login-container .hidden-eye-login {
  position: absolute;
  right: -30px;
}
header .modal-login-form .login-user-form .code-login-container .show-eye-login {
  display: none;
}
header .modal-login-form .login-user-form label {
  color: #252525;
  text-transform: uppercase;
  font-weight: bold;
}
header .modal-login-form .login-user-form button {
  text-transform: uppercase;
  background-color: #445aff;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.5s background-color;
}
header .modal-login-form .login-user-form button:hover {
  background-color: #474747;
  transition: 0.5s background-color;
}
header .modal-login-form .login-admin-form {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
header .modal-login-form .login-admin-form .password-login-container {
  display: flex;
  position: relative;
  align-items: center;
}
header .modal-login-form .login-admin-form .password-login-container .show-eye-login {
  display: none;
}
header .modal-login-form .login-admin-form .password-login-container .show-eye-login,
header .modal-login-form .login-admin-form .password-login-container .hidden-eye-login {
  position: absolute;
  right: -30px;
}
header .modal-login-form .login-admin-form label {
  color: #252525;
  text-transform: uppercase;
  font-weight: bold;
}
header .modal-login-form .login-admin-form button {
  text-transform: uppercase;
  background-color: #445aff;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.5s background-color;
}
header .modal-login-form .login-admin-form button:hover {
  background-color: #474747;
  transition: 0.5s background-color;
}
@keyframes TopToBottom {
  from {
    transform: translate(-50%, -230%);
  }
  to {
    transform: translate(-50%, 0);
  }
}

/*//////////////////////////////////// MAIN //////////////////////////////////////////////*/
main {
  flex: 1;
  /***************************REGISTER FORM****************************/
  /***********************REGISTER SUCCESS*****************************/
  /********************************PROFIL**********************************/
}
main .title-event-home {
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}
main .grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 30px;
  row-gap: 40px;
  padding: 20px 0;
}
main .grid-container .card-event-container {
  width: 90%;
  margin: auto;
  border-radius: 25px;
  background-color: #f9f9f9;
  box-shadow: 4px 4px 4px 2px lightgray;
}
main .grid-container .card-event-container p {
  width: max-content;
  text-transform: capitalize;
  padding: 10px;
}
main .error404 {
  background-image: url("../../assets/imgs/404.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100%;
}
main .adminboard-container {
  width: 100%;
  max-width: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
main .adminboard-container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
main .adminboard-container ul li button {
  text-transform: uppercase;
  background-color: #445aff;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.5s background-color;
}
main .adminboard-container ul li button:hover {
  background-color: #474747;
  transition: 0.5s background-color;
}
main .adminboard-container ul li button:first-child {
  height: 63px;
}
main .adminboard-container .events-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
main .adminboard-container .events-container h1 {
  text-align: center;
}
main .adminboard-container .events-container .error {
  background-color: #fa3457;
  color: white;
  width: max-content;
  padding: 10px;
  border-radius: 5px;
  margin: 0 10px;
}
main .adminboard-container .events-container .success {
  background-color: #78ff81;
  color: white;
  width: max-content;
  padding: 10px;
  border-radius: 5px;
  margin: 0 10px;
}
main .adminboard-container .events-container .card-event-container {
  border-radius: 25px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  box-shadow: 4px 4px 4px 2px lightgray;
}
main .adminboard-container .events-container .card-event-container p {
  width: max-content;
  text-transform: capitalize;
  padding: 10px;
}
main .adminboard-container .events-container table {
  text-align: center;
  border-collapse: collapse;
  border: 2px solid black;
  background-color: #445aff;
}
main .adminboard-container .events-container table thead tr th {
  color: white;
  padding: 10px;
}
main .adminboard-container .events-container table tbody tr td {
  color: white;
  padding: 10px;
}
main .adminboard-container .form-new-event {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #f9f9f9;
  box-shadow: 4px 4px 4px 2px lightgray;
  padding: 20px;
}
main .adminboard-container .form-new-event form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
main .adminboard-container .form-new-event form label {
  text-transform: capitalize;
  font-weight: bold;
}
main .adminboard-container .form-new-event form input {
  width: 100%;
  border-radius: 5px;
  height: 30px;
  border: 1px solid lightgray;
  background-color: #fafafa;
}
main .adminboard-container .form-new-event form input:invalid {
  border: 1px solid #fa3457;
}
main .adminboard-container .form-new-event form button {
  text-transform: uppercase;
  background-color: #445aff;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.5s background-color;
  margin-top: 5px;
}
main .adminboard-container .form-new-event form button:hover {
  background-color: #474747;
  transition: 0.5s background-color;
}
main .alternativeMain {
  /***************************REGISTER FORM****************************/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /***********************REGISTER SUCCESS*****************************/
  /********************************PROFIL**********************************/
}
main .alternativeMain .registerFormTitle {
  margin-top: 80px;
  margin-bottom: 20px;
  word-break: break-word;
}
main .alternativeMain .titleUnderline {
  width: 12%;
  height: 1px;
  background: #474747;
  margin-bottom: 30px;
}
main .alternativeMain .containerFormCompletionIndicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 105px;
  height: 30px;
  gap: 5px;
  margin-bottom: 20px;
}
main .alternativeMain .containerFormCompletionIndicator .formCompletionIndicator1,
main .alternativeMain .containerFormCompletionIndicator .formCompletionIndicator2,
main .alternativeMain .containerFormCompletionIndicator .formCompletionIndicator3 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #445aff;
}
main .alternativeMain .containerForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f9f9f9;
  padding: 25px;
  margin: 25px 25px 80px;
  gap: 10px;
  box-shadow: 4px 4px 4px 2px lightgray;
}
main .alternativeMain .containerForm form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}
main .alternativeMain .containerForm form .formPart1,
main .alternativeMain .containerForm form .formPart2,
main .alternativeMain .containerForm form .formPart3 {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
main .alternativeMain .containerForm form .formPart1 input,
main .alternativeMain .containerForm form .formPart2 input,
main .alternativeMain .containerForm form .formPart3 input {
  width: 100%;
  border-radius: 5px;
  border: none;
  height: 30px;
  border: 1px solid lightgray;
  background-color: #fafafa;
}
main .alternativeMain .containerForm form .formPart1 input:invalid,
main .alternativeMain .containerForm form .formPart2 input:invalid,
main .alternativeMain .containerForm form .formPart3 input:invalid {
  border: 1px solid #fa3457;
}
main .alternativeMain .containerForm form .formPart1 select,
main .alternativeMain .containerForm form .formPart2 select,
main .alternativeMain .containerForm form .formPart3 select {
  width: 100%;
  height: 30px;
  border-radius: 1px;
  border: none;
  border: 1px solid lightgray;
  background-color: #f9f9f9;
}
main .alternativeMain .containerForm form .formPart1 {
  display: flex;
}
main .alternativeMain .containerForm form .formPart2 {
  display: flex;
}
main .alternativeMain .containerForm form .formPart3 {
  display: flex;
}
main .alternativeMain .containerForm form .submit {
  text-transform: uppercase;
  background-color: #445aff;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.5s background-color;
  border: none;
}
main .alternativeMain .containerForm form .submit:hover {
  background-color: #474747;
  transition: 0.5s background-color;
}
main .alternativeMain .containerForm .following {
  text-transform: uppercase;
  background-color: #445aff;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.5s background-color;
  border: none;
}
main .alternativeMain .containerForm .following:hover {
  background-color: #474747;
  transition: 0.5s background-color;
}
main .alternativeMain .containerForm .following2 {
  text-transform: uppercase;
  background-color: #445aff;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.5s background-color;
  border: none;
}
main .alternativeMain .containerForm .following2:hover {
  background-color: #474747;
  transition: 0.5s background-color;
}
main .alternativeMain .successTitle {
  color: #78ff81;
  margin-bottom: 30px;
}
main .alternativeMain .containerId {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  gap: 40px;
  background-color: #f9f9f9;
  margin: 25px;
  box-shadow: 4px 4px 4px 2px lightgray;
}
main .alternativeMain .containerId .userId {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #474747;
  padding: 25px;
}
main .alternativeMain .finished {
  text-transform: uppercase;
  background-color: #445aff;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.5s background-color;
  border: none;
}
main .alternativeMain .finished:hover {
  background-color: #474747;
  transition: 0.5s background-color;
}
main .alternativeMain .topProfil {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
main .alternativeMain .metaInfos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 4%;
}
main .alternativeMain .metaInfos .personalInfos,
main .alternativeMain .metaInfos .availability,
main .alternativeMain .metaInfos .expression {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 320px;
  height: 400px;
  background-color: #f9f9f9;
  box-shadow: 4px 4px 4px 2px lightgray;
}
main .alternativeMain .metaInfos .personalInfos .titleProfil,
main .alternativeMain .metaInfos .availability .titleProfil,
main .alternativeMain .metaInfos .expression .titleProfil {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #474747;
  border-radius: 2px;
}
main .alternativeMain .metaInfos .personalInfos .infosProfil,
main .alternativeMain .metaInfos .availability .infosProfil,
main .alternativeMain .metaInfos .expression .infosProfil {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  height: 320px;
  width: 100%;
  gap: 15px;
}
main .alternativeMain .metaInfos .personalInfos .infosProfil p,
main .alternativeMain .metaInfos .availability .infosProfil p,
main .alternativeMain .metaInfos .expression .infosProfil p {
  margin-left: 15px;
}
main .alternativeMain .metaMissions {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  border-radius: 2px;
  background-color: #f9f9f9;
  box-shadow: 4px 4px 4px 2px lightgray;
  margin-top: 60px;
}
main .alternativeMain .metaMissions .titleMissions {
  width: 100%;
  height: 80px;
  border: 1px solid black;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .alternativeMain .metaMissions .myMissions {
  width: 100%;
  padding: 25px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 60px;
  background-color: #f9f9f9;
}
main .registerFormTitle {
  margin-top: 80px;
  margin-bottom: 20px;
  word-break: break-word;
}
main .titleUnderline {
  width: 12%;
  height: 1px;
  background: #474747;
  margin-bottom: 30px;
}
main .containerFormCompletionIndicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 105px;
  height: 30px;
  gap: 5px;
  margin-bottom: 20px;
}
main .containerFormCompletionIndicator .formCompletionIndicator1,
main .containerFormCompletionIndicator .formCompletionIndicator2,
main .containerFormCompletionIndicator .formCompletionIndicator3 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #445aff;
}
main .containerForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f9f9f9;
  padding: 25px;
  margin: 25px 25px 80px;
  gap: 10px;
  box-shadow: 4px 4px 4px 2px lightgray;
}
main .containerForm form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}
main .containerForm form .formPart1,
main .containerForm form .formPart2,
main .containerForm form .formPart3 {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
main .containerForm form .formPart1 input,
main .containerForm form .formPart2 input,
main .containerForm form .formPart3 input {
  width: 100%;
  border-radius: 5px;
  border: none;
  height: 30px;
  border: 1px solid lightgray;
  background-color: #fafafa;
}
main .containerForm form .formPart1 input:invalid,
main .containerForm form .formPart2 input:invalid,
main .containerForm form .formPart3 input:invalid {
  border: 1px solid #fa3457;
}
main .containerForm form .formPart1 select,
main .containerForm form .formPart2 select,
main .containerForm form .formPart3 select {
  width: 100%;
  height: 30px;
  border-radius: 1px;
  border: none;
  border: 1px solid lightgray;
  background-color: #f9f9f9;
}
main .containerForm form .formPart1 {
  display: flex;
}
main .containerForm form .formPart2 {
  display: flex;
}
main .containerForm form .formPart3 {
  display: flex;
}
main .containerForm form .submit {
  text-transform: uppercase;
  background-color: #445aff;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.5s background-color;
  border: none;
}
main .containerForm form .submit:hover {
  background-color: #474747;
  transition: 0.5s background-color;
}
main .containerForm .following {
  text-transform: uppercase;
  background-color: #445aff;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.5s background-color;
  border: none;
}
main .containerForm .following:hover {
  background-color: #474747;
  transition: 0.5s background-color;
}
main .successTitle {
  color: #78ff81;
  margin-bottom: 30px;
}
main .containerId {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  gap: 40px;
  background-color: #f9f9f9;
  margin: 25px;
  box-shadow: 4px 4px 4px 2px lightgray;
}
main .containerId .userId {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #474747;
  padding: 25px;
}
main .finished {
  text-transform: uppercase;
  background-color: #445aff;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.5s background-color;
  border: none;
}
main .finished:hover {
  background-color: #474747;
  transition: 0.5s background-color;
}
main .topProfil {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
main .metaInfos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 4%;
}
main .metaInfos .personalInfos,
main .metaInfos .availability,
main .metaInfos .expression {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 320px;
  height: 400px;
  background-color: #f9f9f9;
  box-shadow: 4px 4px 4px 2px lightgray;
}
main .metaInfos .personalInfos .titleProfil,
main .metaInfos .availability .titleProfil,
main .metaInfos .expression .titleProfil {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #474747;
  border-radius: 2px;
}
main .metaInfos .personalInfos .infosProfil,
main .metaInfos .availability .infosProfil,
main .metaInfos .expression .infosProfil {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  height: 320px;
  width: 100%;
  gap: 15px;
}
main .metaInfos .personalInfos .infosProfil p,
main .metaInfos .availability .infosProfil p,
main .metaInfos .expression .infosProfil p {
  margin-left: 15px;
}
main .metaMissions {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  border-radius: 2px;
  background-color: #f9f9f9;
  box-shadow: 4px 4px 4px 2px lightgray;
  margin-top: 60px;
}
main .metaMissions .titleMissions {
  width: 100%;
  height: 80px;
  border: 1px solid black;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .metaMissions .myMissions {
  width: 100%;
  padding: 25px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 60px;
  background-color: #f9f9f9;
}

/*//////////////////////////////////// FOOTER ////////////////////////////////////////////*/
/*/////////////////////////////// RESPONSIVE TABLET 768px //////////////////////////////////////*/
@media (min-width: 768px) {
  /*//////////////////////////////////// HEADER ////////////////////////////////////////////*/
  header .modal-login-form {
    width: 50%;
  }
  header .modal-login-form .login-admin-form .password-login-container .show-eye-login,
  header .modal-login-form .login-admin-form .password-login-container .hidden-eye-login {
    right: -35px;
  }
  header .modal-login-form .login-admin-form .close-modal-login {
    top: 25px;
    right: 20px;
  }
  header .modal-login-form .login-user-form .code-login-container .show-eye-login,
  header .modal-login-form .login-user-form .code-login-container .hidden-eye-login {
    right: -35px;
  }
  /*//////////////////////////////////// MAIN //////////////////////////////////////////////*/
  main .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  /*//////////////////////////////////// FOOTER ////////////////////////////////////////////*/
}
/*/////////////////////////////// RESPONSIVE DESKTOP 1024px /////////////////////////////////////*/
@media (min-width: 1024px) {
  :root {
    font-size: 18px;
  }
  /*//////////////////////////////////// HEADER ////////////////////////////////////////////*/
  header .navbar-container-mobile {
    display: none;
  }
  header .navbar-container-desktop {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #445aff;
  }
  header .navbar-container-desktop .logo-container-desktop .logo {
    width: 60px;
  }
  header .navbar-container-desktop .links-container {
    display: flex;
    width: max-content;
    gap: 2rem;
  }
  header .navbar-container-desktop .links-container li a {
    color: black;
    text-transform: uppercase;
    font-weight: 900;
  }
  header .navbar-container-desktop .connections-container {
    display: flex;
    gap: 10px;
  }
  header .navbar-container-desktop .connections-container button {
    text-transform: uppercase;
    background-color: #445aff;
    padding: 0.5rem 0.7rem;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: 0.5s background-color;
    background-color: white;
    color: black;
  }
  header .navbar-container-desktop .connections-container button:hover {
    background-color: #474747;
    transition: 0.5s background-color;
  }
  header .modal-login-form {
    width: 40%;
  }
  /*//////////////////////////////////// MAIN //////////////////////////////////////////////*/
  main .grid-container {
    column-gap: 40px;
  }
  /*//////////////////////////////////// FOOTER ////////////////////////////////////////////*/
}

/*# sourceMappingURL=style.css.map */
